In [5]:
import pandas as pd

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\matthew\anaconda3c\lib\site-packages (1.18.5)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import numpy as np

In [6]:
data1 = pd.read_csv('C:/Users/Matthew/DAclass/1.04/data_1.04_activities/files_for_activities/csv_files/file1.csv')

In [7]:
data2 = pd.read_excel('C:/Users/Matthew/DAclass/1.04/data_1.04_activities/files_for_activities/excel_files/file1.xlsx')

In [8]:
data1

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [9]:
data1.isna().sum()

CONTROLN     0
STATE        0
GENDER      40
HV1          2
IC1          0
IC4          1
HVP1         0
IC5          0
POBC1        0
POBC2        0
IC2          1
IC3          0
AVGGIFT      0
TCODE        0
DOB          0
DOMAIN       0
TARGET_D     0
dtype: int64

In [18]:
meanic4 = np.mean(data1['IC4'])

In [20]:
data1['IC4']=data1['IC4'].fillna(meanic4)

In [21]:
data1['IC4'].isna().sum()

0

In [22]:
data1.isna().sum()

CONTROLN     0
STATE        0
GENDER      40
HV1          2
IC1          0
IC4          0
HVP1         0
IC5          0
POBC1        0
POBC2        0
IC2          1
IC3          0
AVGGIFT      0
TCODE        0
DOB          0
DOMAIN       0
TARGET_D     0
dtype: int64

In [23]:
data1.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

In [6]:
mdata1 = pd.read_csv('C:/Users/Matthew/DAclass/1.04/data_1.04_activities/files_for_activities/csv_files/merged_clean_ver1.csv')

In [25]:
mdata2 = pd.read_excel('C:/Users/Matthew/DAclass/1.04/data_1.04_activities/files_for_activities/excel_files/merged_clean_ver1.xlsx')

In [34]:
mdata1

,Unnamed: 0,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,target_d
0,0,44060,FL,M,1158.437751,392,430.0,466,520.0,21975.0,28.000000,100.0
1,1,96093,IL,M,537.000000,365,415.0,410,473.0,19387.0,5.666667,7.0
2,2,43333,FL,F,725.000000,301,340.0,361,436.0,18837.0,4.111111,5.0
3,3,21885,NC,M,1158.437751,401,407.0,399,413.0,14014.0,27.277778,38.0
4,4,190108,FL,F,995.000000,252,280.0,316,348.0,17991.0,6.000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3988,996,66762,MI,F,632.000000,279,336.0,339,388.0,12653.0,8.533333,5.0
3989,997,6443,FL,M,595.000000,252,263.0,262,274.0,11132.0,14.692308,20.0
3990,998,151175,CA,F,2707.000000,507,504.0,538,537.0,16165.0,12.117647,22.0
3991,999,151504,CA,M,2666.000000,535,609.0,612,653.0,24745.0,12.333333,21.0
3992,1000,74303,MI,M,444.000000,225,264.0,269,299.0,10088.0,17.142857,25.0

In [36]:
mdata1=mdata1.drop(['Unnamed: 0'],axis=1)

In [16]:
mdata1

,Unnamed: 0,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,target_d
0,0,44060,FL,M,1158.437751,392,430.0,466,520.0,21975.0,28.000000,100.0
1,1,96093,IL,M,537.000000,365,415.0,410,473.0,19387.0,5.666667,7.0
2,2,43333,FL,F,725.000000,301,340.0,361,436.0,18837.0,4.111111,5.0
3,3,21885,NC,M,1158.437751,401,407.0,399,413.0,14014.0,27.277778,38.0
4,4,190108,FL,F,995.000000,252,280.0,316,348.0,17991.0,6.000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3988,996,66762,MI,F,632.000000,279,336.0,339,388.0,12653.0,8.533333,5.0
3989,997,6443,FL,M,595.000000,252,263.0,262,274.0,11132.0,14.692308,20.0
3990,998,151175,CA,F,2707.000000,507,504.0,538,537.0,16165.0,12.117647,22.0
3991,999,151504,CA,M,2666.000000,535,609.0,612,653.0,24745.0,12.333333,21.0
3992,1000,74303,MI,M,444.000000,225,264.0,269,299.0,10088.0,17.142857,25.0

In [38]:
mdata1['state'].isna().sum()

0

In [39]:
mdata1['state'].isnull().sum()

0

In [41]:
a = lambda x,y,z: x+y+z

In [58]:
var=int(input("enter a number"))
var2=int(input("enter a second number"))
var3=int(input("enter a third number"))

enter a number1
enter a second number2
enter a third number3

In [59]:
varlist = [var,var2,var3]

In [60]:
for item in varlist:
    print(item)

1
2
3

In [73]:
h = list(map(lambda x: x**3,varlist))

In [74]:
h

[1, 8, 27]

In [61]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [69]:
def cube(x):
    return x**3

In [71]:
y = list(map(cube,lst))

In [72]:
y

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [75]:
#def function_1(a,b):
#    c=a+b
#    return c

w = lambda x,y: x+y

In [76]:
w(1,2)

3

In [78]:
#def function_2(a,b):
#    c=0
#    for i in range(a):
#        c+=2*b
#    return c

twotime = lambda a,b: c=0 for i in range(a): c+=2*b return c

SyntaxError: invalid syntax (<ipython-input-78-9cce066b6040>, line 7)

In [79]:
range(3)

range(0, 3)

In [10]:
mdata1['state'].value_counts()

CA            751
FL            337
TX            293
IL            247
MI            225
NC            168
WA            153
GA            122
OR            117
WI            110
MO            108
IN            108
California    100
CO             88
AZ             88
SC             85
MN             75
KY             67
AL             59
OK             57
LA             56
TN             52
KS             48
NV             46
IA             44
NM             44
AR             42
MS             33
NE             33
Tennessee      29
Cali           24
MT             24
ID             23
SD             22
HI             21
UT             21
Arizona        17
ND             16
WY             12
AK              6
MD              4
CT              3
AP              3
AA              2
PA              2
NJ              2
VT              1
VA              1
NY              1
GU              1
WV              1
AE              1
Name: state, dtype: int64

In [11]:
def stab(x):
    if x in ['Cali', 'California']:
        return 'CA'
    elif x in ['Arizona']:
        return 'AZ'
    elif x in ['Tennessee']:
        return 'TN'
    else:
        return x

In [12]:
mdata1['state']=list(map(stab,mdata1['state']))

In [13]:
mdata1['state'].value_counts()

CA    875
FL    337
TX    293
IL    247
MI    225
NC    168
WA    153
GA    122
OR    117
WI    110
IN    108
MO    108
AZ    105
CO     88
SC     85
TN     81
MN     75
KY     67
AL     59
OK     57
LA     56
KS     48
NV     46
NM     44
IA     44
AR     42
NE     33
MS     33
MT     24
ID     23
SD     22
HI     21
UT     21
ND     16
WY     12
AK      6
MD      4
CT      3
AP      3
PA      2
AA      2
NJ      2
NY      1
WV      1
VA      1
VT      1
GU      1
AE      1
Name: state, dtype: int64

In [14]:
mdata1.columns.lower()

AttributeError: 'Index' object has no attribute 'lower'

In [18]:
mdata1['state']=list(map(lambda x:x.upper(),mdata1['state']))

In [19]:
list(map(lambda x:x.strip(),mdata1['state']))

['FL',
 'IL',
 'FL',
 'NC',
 'FL',
 'IL',
 'NC',
 'TX',
 'CA',
 'NV',
 'CA',
 'CA',
 'AP',
 'MI',
 'FL',
 'FL',
 'TX',
 'CA',
 'OK',
 'AR',
 'IN',
 'MT',
 'TX',
 'IL',
 'IL',
 'CA',
 'WI',
 'MO',
 'IN',
 'TX',
 'HI',
 'FL',
 'TX',
 'CA',
 'UT',
 'GA',
 'WA',
 'CA',
 'ID',
 'CT',
 'CA',
 'AL',
 'ND',
 'TX',
 'CA',
 'IL',
 'SC',
 'IA',
 'CO',
 'TX',
 'CA',
 'CA',
 'FL',
 'CA',
 'NC',
 'TX',
 'LA',
 'CA',
 'LA',
 'IA',
 'CA',
 'OR',
 'NC',
 'IL',
 'TX',
 'CA',
 'CA',
 'IL',
 'CA',
 'WA',
 'SD',
 'AL',
 'TN',
 'CA',
 'CA',
 'CO',
 'NM',
 'CA',
 'LA',
 'CO',
 'AZ',
 'IL',
 'IL',
 'CA',
 'TN',
 'CA',
 'CA',
 'MO',
 'MN',
 'AZ',
 'MO',
 'FL',
 'LA',
 'NM',
 'IA',
 'MN',
 'CA',
 'SC',
 'FL',
 'IN',
 'KY',
 'KY',
 'CA',
 'OK',
 'CT',
 'NJ',
 'CA',
 'FL',
 'CA',
 'TX',
 'CA',
 'NE',
 'MI',
 'AR',
 'GA',
 'LA',
 'MI',
 'WA',
 'WA',
 'CA',
 'CA',
 'CA',
 'KS',
 'CA',
 'CA',
 'IL',
 'NC',
 'FL',
 'NC',
 'IN',
 'FL',
 'MN',
 'CA',
 'AL',
 'FL',
 'SD',
 'MI',
 'IN',
 'CA',
 'NC',
 'GA',
 'MO',
 'TX',
 'IN',
 'CA',
 'IL',
 'NV',
 'OK',
 'CA',
 'CO',
 'MO',
 'FL',
 'GA',
 'ID',
 'CA',
 'GA',
 'MI',
 'CA',
 'MN',
 'CA',
 'FL',
 'MN',
 'MO',
 'WI',
 'WI',
 'CA',
 'CA',
 'CA',
 'CO',
 'FL',
 'NE',
 'IN',
 'FL',
 'FL',
 'IL',
 'NC',
 'OR',
 'CA',
 'MI',
 'CA',
 'IL',
 'IL',
 'TX',
 'IN',
 'NC',
 'CA',
 'IN',
 'CO',
 'KY',
 'IL',
 'CA',
 'CA',
 'FL',
 'FL',
 'CA',
 'NE',
 'IN',
 'IN',
 'FL',
 'FL',
 'FL',
 'ID',
 'CO',
 'OK',
 'TX',
 'FL',
 'TX',
 'CA',
 'TX',
 'KY',
 'IL',
 'CA',
 'CA',
 'CA',
 'CA',
 'TX',
 'AL',
 'FL',
 'CA',
 'CA',
 'TX',
 'WA',
 'IL',
 'CA',
 'CA',
 'TX',
 'WI',
 'WA',
 'AL',
 'MT',
 'IL',
 'WA',
 'GA',
 'CA',
 'AL',
 'OR',
 'TX',
 'UT',
 'IL',
 'FL',
 'TN',
 'CA',
 'AL',
 'CA',
 'CA',
 'CA',
 'CA',
 'OK',
 'WA',
 'AZ',
 'TX',
 'TX',
 'FL',
 'IA',
 'MI',
 'GA',
 'MI',
 'NV',
 'HI',
 'TX',
 'SD',
 'FL',
 'CA',
 'CA',
 'WA',
 'MO',
 'IL',
 'OR',
 'TX',
 'OR',
 'AZ',
 'CA',
 'LA',
 'IN',
 'CA',
 'MO',
 'FL',
 'IL',
 'IN',
 'FL',
 'CA',
 'MI',
 'SC',
 'UT',
 'CA',
 'IN',
 'TX',
 'MI',
 'IN',
 'WI',
 'WI',
 'OK',
 'SC',
 'TX',
 'MI',
 'AL',
 'CA',
 'IL',
 'CA',
 'SC',
 'CA',
 'TX',
 'CA',
 'FL',
 'CA',
 'MO',
 'AR',
 'WI',
 'ND',
 'NE',
 'MI',
 'WI',
 'FL',
 'KS',
 'WI',
 'OR',
 'GA',
 'MI',
 'FL',
 'CA',
 'MI',
 'TX',
 'NC',
 'IL',
 'IL',
 'TX',
 'NC',
 'TX',
 'CA',
 'KS',
 'WI',
 'CA',
 'NE',
 'SC',
 'CA',
 'FL',
 'CA',
 'MI',
 'CA',
 'CO',
 'FL',
 'FL',
 'SC',
 'TN',
 'MS',
 'GA',
 'CA',
 'KY',
 'WA',
 'CA',
 'NV',
 'TX',
 'CA',
 'WA',
 'CA',
 'CA',
 'NC',
 'IN',
 'ID',
 'FL',
 'MN',
 'FL',
 'CA',
 'WA',
 'CA',
 'CA',
 'CA',
 'TX',
 'IL',
 'TX',
 'NE',
 'CA',
 'TX',
 'MI',
 'CA',
 'WI',
 'TN',
 'CA',
 'FL',
 'NC',
 'CA',
 'CA',
 'MI',
 'TX',
 'CA',
 'CA',
 'MN',
 'CA',
 'MT',
 'MO',
 'FL',
 'TX',
 'CA',
 'NE',
 'CA',
 'CA',
 'FL',
 'AZ',
 'AL',
 'MI',
 'CA',
 'CA',
 'CA',
 'CA',
 'MI',
 'TX',
 'TN',
 'FL',
 'MI',
 'IN',
 'MN',
 'MO',
 'OR',
 'NC',
 'IL',
 'IL',
 'CA',
 'CA',
 'CA',
 'IA',
 'IL',
 'CA',
 'FL',
 'MS',
 'OR',
 'WA',
 'CA',
 'CA',
 'FL',
 'NY',
 'FL',
 'SC',
 'FL',
 'IL',
 'FL',
 'IA',
 'MI',
 'CA',
 'FL',
 'MI',
 'AL',
 'TN',
 'CO',
 'IL',
 'MO',
 'TX',
 'TN',
 'CA',
 'MI',
 'IN',
 'CA',
 'FL',
 'TN',
 'GA',
 'GA',
 'CA',
 'IL',
 'WA',
 'TX',
 'SC',
 'NC',
 'CA',
 'IA',
 'TN',
 'CA',
 'CA',
 'OR',
 'NV',
 'OR',
 'FL',
 'GA',
 'CA',
 'KY',
 'TN',
 'CA',
 'WI',
 'WA',
 'MN',
 'CA',
 'MN',
 'MO',
 'CA',
 'CA',
 'MS',
 'GA',
 'FL',
 'CA',
 'TN',
 'NC',
 'MN',
 'CO',
 'CA',
 'CA',
 'CA',
 'IL',
 'CA',
 'FL',
 'AR',
 'MI',
 'KS',
 'CO',
 'CA',
 'WA',
 'WA',
 'WI',
 'SC',
 'OK',
 'FL',
 'MN',
 'CA',
 'MO',
 'MO',
 'KY',
 'MN',
 'CA',
 'CA',
 'GA',
 'FL',
 'CO',
 'MT',
 'NC',
 'NC',
 'CA',
 'MN',
 'IN',
 'IL',
 'NM',
 'TX',
 'CA',
 'SD',
 'WI',
 'FL',
 'MI',
 'OK',
 'IN',
 'OR',
 'WI',
 'CA',
 'WA',
 'UT',
 'WI',
 'FL',
 'CA',
 'CA',
 'GA',
 'LA',
 'FL',
 'AR',
 'IL',
 'CA',
 'IL',
 'IL',
 'AL',
 'CA',
 'NC',
 'KY',
 'CA',
 'CA',
 'FL',
 'OK',
 'NC',
 'MI',
 'FL',
 'FL',
 'IL',
 'LA',
 'HI',
 'WA',
 'IL',
 'TX',
 'CA',
 'CA',
 'KY',
 'NC',
 'IL',
 'IL',
 'GA',
 'FL',
 'CO',
 'AZ',
 'CA',
 'IL',
 'CA',
 'KY',
 'IL',
 'SD',
 'GA',
 'AL',
 'IL',
 'MS',
 'KS',
 'AZ',
 'MO',
 'MI',
 'SC',
 'CA',
 'MN',
 'CA',
 'TX',
 'IN',
 'FL',
 'CA',
 'NC',
 'LA',
 'OK',
 'AZ',
 'MI',
 'AZ',
 'TX',
 'WA',
 'CA',
 'IN',
 'CA',
 'IA',
 'FL',
 'LA',
 'TX',
 'NM',
 'UT',
 'GA',
 'GA',
 'AL',
 'CA',
 'CA',
 'FL',
 'NC',
 'CA',
 'FL',
 'TN',
 'TX',
 'OR',
 'CA',
 'HI',
 'TX',
 'NC',
 'IL',
 'CA',
 'MI',
 'KY',
 'CA',
 'CA',
 'TX',
 'CA',
 'CA',
 'IL',
 'NC',
 'CA',
 'MN',
 'TN',
 'CA',
 'IN',
 'CA',
 'NM',
 'CA',
 'MN',
 'IL',
 'TX',
 'AZ',
 'OR',
 'AR',
 'CA',
 'AZ',
 'TX',
 'TX',
 'MI',
 'CA',
 'CA',
 'CA',
 'SC',
 'NC',
 'CA',
 'CA',
 'WI',
 'IL',
 'TN',
 'CA',
 'TX',
 'TX',
 'TX',
 'CA',
 'WI',
 'CA',
 'IL',
 'TX',
 'NC',
 'OR',
 'AL',
 'CA',
 'IN',
 'CA',
 'NC',
 'CA',
 'CA',
 'NC',
 'AR',
 'CA',
 'WA',
 'CA',
 'IL',
 'CA',
 'MI',
 'GA',
 'MI',
 'CA',
 'WI',
 'IL',
 'HI',
 'ID',
 'TX',
 'CA',
 'TX',
 'WA',
 'KS',
 'OR',
 'WI',
 'TX',
 'FL',
 'OK',
 'IL',
 'TX',
 'CA',
 'MI',
 'FL',
 'NV',
 'TX',
 'IL',
 'CA',
 'TN',
 'CA',
 'SC',
 'TX',
 'CA',
 'FL',
 'CA',
 'FL',
 'OR',
 'CA',
 'OK',
 'WA',
 'NC',
 'TX',
 'GA',
 'CA',
 'TX',
 'MI',
 'CA',
 'TX',
 'SC',
 'NC',
 'LA',
 'MI',
 'FL',
 'MS',
 'CA',
 'AL',
 'GA',
 'CO',
 'CA',
 'NC',
 'GA',
 'TX',
 'NE',
 'CA',
 'NV',
 'IA',
 'KY',
 'GA',
 'MO',
 'LA',
 'GA',
 'OK',
 'CA',
 'WI',
 'WI',
 'NC',
 'TX',
 'WY',
 'NV',
 'CA',
 'AL',
 'IN',
 'SC',
 'MT',
 'SC',
 'AZ',
 'NC',
 'NM',
 'NC',
 'WI',
 'AZ',
 'ND',
 'CA',
 'KS',
 'FL',
 'FL',
 'MI',
 'FL',
 'AZ',
 'OR',
 'MI',
 'FL',
 'CA',
 'IL',
 'KS',
 'TX',
 'GA',
 'TX',
 'MI',
 'IL',
 'CA',
 'NV',
 'TX',
 'MI',
 'IL',
 'MO',
 'TX',
 'GA',
 'ID',
 'IN',
 'GA',
 'IN',
 'WA',
 'ID',
 'OK',
 'MI',
 'FL',
 'OR',
 'IL',
 'NE',
 'WI',
 'SD',
 'MI',
 'CA',
 'WA',
 'AZ',
 'MN',
 'TX',
 'GA',
 'MO',
 'OK',
 'AZ',
 'CA',
 'CA',
 'WA',
 'AR',
 'CA',
 'KY',
 'LA',
 'MI',
 'NV',
 'IA',
 'CO',
 'CA',
 'MI',
 'IL',
 'MN',
 'MS',
 'IA',
 'CA',
 'MI',
 'FL',
 'CA',
 'NC',
 'MS',
 'OR',
 'CA',
 'OR',
 'MI',
 'IL',
 'CO',
 'WA',
 'SD',
 'CA',
 'TX',
 'GA',
 'NC',
 'OK',
 'TN',
 'TN',
 'CA',
 'MO',
 'IL',
 'TX',
 'NC',
 'OK',
 'WY',
 'WI',
 'SC',
 'MO',
 'FL',
 'CA',
 'WI',
 'CA',
 'NC',
 'CA',
 'CA',
 'AZ',
 'LA',
 'WA',
 'CA',
 'CA',
 'IL',
 'LA',
 'TX',
 'OR',
 'IN',
 'FL',
 'TN',
 'IL',
 'CA',
 'ND',
 'MO',
 'IL',
 'CA',
 'NC',
 'CA',
 'WA',
 'CA',
 'AZ',
 'WA',
 'AZ',
 'MO',
 'CA',
 'MO',
 'MI',
 'WA',
 'NM',
 'CA',
 'WA',
 'FL',
 'IL',
 'ID',
 'TN',
 'AR',
 'IA',
 'IL',
 'WA',
 'OR',
 'FL',
 'WA',
 'IL',
 'TX',
 'WI',
 'CA',
 'IA',
 'NC',
 'KY',
 'TX',
 'MI',
 'WY',
 'MN',
 'FL',
 'AL',
 'CA',
 'IN',
 'GA',
 'FL',
 'ID',
 'IN',
 'IA',
 'CO',
 'SC',
 'MN',
 'CA',
 'MI',
 'NC',
 'MN',
 'WI',
 'IN',
 'CA',
 'CA',
 'IA',
 'WA',
 'FL',
 'CA',
 'WI',
 'TN',
 'AZ',
 'MI',
 'GA',
 'SC',
 'MI',
 'CA',
 'WI',
 'AZ',
 'FL',
 'TX',
 'GA',
 'CA',
 'KY',
 'MI',
 'FL',
 'CA',
 'FL',
 'OR',
 'TX',
 'AZ',
 'CA',
 'CA',
 'OR',
 ...]